!!! 5
%html
  %head
    %title STARPEACE
    %meta{charset: 'utf-8'}
    %meta{viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no'}

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/assets/favicon.ico'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/assets/favicon.ico'}

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Open+Sans+Condensed:300'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/assets/client-main.min.css'}

    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.0/pixi.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/fpsmeter/0.3.1/fpsmeter.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/css-element-queries/1.0.2/ElementQueries.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/css-element-queries/1.0.2/ResizeSensor.min.js'}

    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.13/js/solid.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.13/js/regular.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js'}

    %script{type: 'text/javascript', src: '/assets/client-main.min.js'}

  %body
    #application{v-bind:class:"[ui_state.theme, {'no-header':!ui_state.show_header}]"}
      #common-header.clearfix{v-show:'ui_state.show_header'}
        .common-logo
          %a.logo{href: '/'}
            %h1 STAR
            %img{src: '/assets/logo.png'}
            %h1 PEACE

        .welcome
          %span.message Welcome, Visitor!
          %a.login-header{href: '/login.html'} Sign In

        .development
          %a.documentation{href: 'https://docs.starpeace.io'} Documentation
          %a.community{href: 'https://starpeaceproject.com/'} Community
          %a.github{href: 'https://github.com/ronappleton/starpeace-website'}
            %img{src: '/assets/github.png'}

      #loading-modal{v-show:'is_loading && is_ready', v-cloak:true}
      #loading-container{v-show:'is_loading', v-cloak:true}
        .card
          .card-body
            %img.logo-loading
            .label-loading Loading...
            .progress{v-show:'loading_has_subprogress'}
              .progress-bar{v-bind:style:"{width: client.loading_progress + '%'}"}

      %transition{name:'fade', mode:'out-in'}
        #workflow-container{v-show:"status != 'ready'", v-bind:class:'[status, {visitor:is_visitor}]', v-cloak:true}
          .card
            .card-header{v-show:"status == 'pending_planetary_system'", v-cloak:true}
              Planetary Systems
            .card-header{v-show:"status == 'pending_planet'", v-cloak:true}
              %a{v-on:click.stop.prevent:'client.reset_planetary_system()', href: '#'} Planetary Systems
              &nbsp;/&nbsp;{{ planetary_system_name }}

            .card-body
              .workflow-step{v-show:"status == 'pending_identity_authentication'", v-cloak:true}
                %img.logo-loading
                .label-loading Authenticating identity with provider...

              .workflow-step{v-show:"status == 'pending_identity'", v-cloak:true}
                .workflow-description
                  %p
                    %span.salut Welcome, Visitor!
                    &nbsp;&nbsp;Please select a visa option to begin your STARPEACE adventure!&nbsp;&nbsp;
                    %a{href: 'https://docs.starpeace.io'} Learn more
                .row
                  .col
                    %h3 Visitor Visa
                    %i.fas.fa-user-secret
                    %ul
                      %li Meet new people
                      %li See what's happening
                      %li Become a Tycoon later
                    %a.btn.btn-primary.btn-lg.demo{v-on:click.stop.prevent:'client.proceed_as_visitor()', href: '#', role: 'button', data-toggle:'tooltip', data-placement:'left', title: 'Sign In and registration not required'} Visitor Visa
                  .col
                    %h3 Tycoon Visa
                    %i.fas.fa-user-tie
                    %ul
                      %li Get $100,000,000
                      %li Create a company
                      %li Build an Empire!
                    %a.btn.btn-secondary.btn-lg.login{href:'/login.html', role:'button', data-toggle:'tooltip', data-placement:'right', title: 'Proceed to Sign In'} Tycoon Visa

              .workflow-step{v-show:"status == 'pending_account'", v-cloak:true}
                %img.logo-loading
                .label-loading Authorizing session for identity...

              .workflow-step{v-show:"status == 'pending_planetary_metadata'", v-cloak:true}
                %img.logo-loading
                .label-loading Retrieving planetary information...

              .workflow-step{v-show:"status == 'pending_planetary_system'", v-cloak:true}
                .row
                  .col
                    %ul.list-group
                      %li.list-group-item{v-for:'system in planetary_systems'}
                        %table.table.system-table
                          %tbody
                            %tr
                              %td.system-image{rowspan:4}
                                %img.system-image.logo-loading{v-bind:src:"system_animation_url(planet)", v-on:load:"$event.target.classList.remove('logo-loading')"}
                              %td{colspan:3}
                                %h3 {{system.name}}
                              %td.system-select{rowspan:4}
                                %a.btn.btn-outline-primary.btn-lg.btn-block.choose-system.float-right{v-on:click.stop.prevent:'client.select_planetary_system(system.id)', href:'#', role:'button'} Inspect
                            %tr.system-info-row
                              %td Population:
                              %td.planet-value {{0}}
                            %tr.system-info-row
                              %td Planets:
                              %td.planet-value {{system.planets.length}}
                            %tr.system-info-row
                              %td Online:
                              %td.planet-value {{0}}

              .workflow-step{v-show:"status == 'pending_planet'", v-cloak:true}
                .row
                  .col
                    %ul.list-group
                      %li.list-group-item{v-for:'planet in planets_for_system'}
                        %table.table.planet-table
                          %tbody
                            %tr
                              %td.planet-image{rowspan:5}
                                %img.planet-image.logo-loading{v-bind:src:"planet_animation_url(planet)", v-on:load:"$event.target.classList.remove('logo-loading')"}
                              %td{colspan:3}
                                %h3 {{planet.name}}
                              %td.planet-select{rowspan:5}
                                %a.btn.btn-primary.btn-lg.btn-block.choose-system{v-on:click.stop.prevent:'client.select_planet(planet.id)', href:'#', role:'button'} Select
                            %tr.planet-info-row
                              %td Population:
                              %td.planet-value {{0}}
                              %td.planet-description{rowspan:4}
                                {{planet_description(planet)}}
                            %tr.planet-info-row
                              %td Investments:
                              %td.planet-value ${{0}}
                            %tr.planet-info-row
                              %td Tycoons:
                              %td.planet-value {{0}}
                            %tr.planet-info-row
                              %td Online:
                              %td.planet-value {{0}}


              .workflow-step{v-show:"status == 'pending_assets'", v-cloak:true}
                %img.logo-loading
                .label-loading Loading assets and resources...

              .workflow-step{v-show:"status == 'pending_initialization'", v-cloak:true}
                %img.logo-loading
                .label-loading Initializing client environment...

      #fps-container{v-show:'ui_state.show_fps', v-cloak:true}

      %transition{name:'fade'}
        #render-container{v-show:'is_ready', v-cloak:true}


      #menu-options-container{v-show:"ui_state.main_menu == 'options'", v-cloak:true}
        .card
          .card-header
            Client Options
            .card-close{v-on:click.stop.prevent:'toggle_menu_options()'}
              %i.fas.fa-times
          .card-body
            %form
              .form-group.row
                .col-sm-3.label-column Show Header:
                .col-sm-9
                  .toggle-icons
                    %i.fas.fa-toggle-on{v-show:"ui_state.show_header", v-on:click.stop.prevent:'toggle_header()'}
                    %i.fas.fa-toggle-off{v-show:"!ui_state.show_header", v-on:click.stop.prevent:'toggle_header()'}
              .form-group.row
                .col-sm-3.label-column Show FPS:
                .col-sm-9
                  .toggle-icons
                    %i.fas.fa-toggle-on{v-show:"ui_state.show_fps", v-on:click.stop.prevent:'toggle_fps()'}
                    %i.fas.fa-toggle-off{v-show:"!ui_state.show_fps", v-on:click.stop.prevent:'toggle_fps()'}
              %fieldset.form-group
                .row
                  %legend.col-form-label.col-sm-3.pt-0 Color Theme:
                  .col-sm-9
                    .form-check
                      %input#option-theme-1.form-check-input{type:'radio', name:'option-theme', value:'mineral', v-model:'ui_state.theme'}
                      %label.form-check-label{for:'option-theme-1'} Mineral
                    .form-check
                      %input#option-theme-2.form-check-input{type:'radio', name:'option-theme', value:'hemlock', v-model:'ui_state.theme'}
                      %label.form-check-label{for:'option-theme-2'} Hemlock
                    .form-check
                      %input#option-theme-3.form-check-input{type:'radio', name:'option-theme', value:'voodoo', v-model:'ui_state.theme'}
                      %label.form-check-label{for:'option-theme-3'} Voodoo


      %transition{name:'fade'}
        #footer-container{v-show:'is_ready', v-cloak:true}
          %table.table.row-inspect
            %tbody
              %tr
                %td.column-camera-controls
                  %a.btn.btn-outline-dark.btn-sm.btn-block{v-on:click.stop.prevent:'camera_manager.zoom_in()', href: '#'}
                    %i.fas.fa-plus
                %td.column-camera-controls
                  %a.btn.btn-outline-dark.btn-sm.btn-block{v-on:click.stop.prevent:'camera_manager.zoom_out()', href: '#'}
                    %i.fas.fa-minus

                %td.column-overlays
                  %a.btn.btn-outline-dark.btn-sm.btn-block
                    Overlay

                %td.column-inspect{rowspan: 2}
                  %a.btn.btn-outline-dark.btn-sm.btn-block
                    Inspect

                %td.column-details-ticker.primary
                  Welcome to STARPEACE! If you enjoy your time as a Visitor, become a Tycoon!

              %tr
                %td.column-camera-controls
                  %a.btn.btn-outline-dark.btn-sm.btn-block
                    %i.fas.fa-redo-alt
                %td.column-camera-controls
                  %a.btn.btn-outline-dark.btn-sm.btn-block
                    %i.fas.fa-undo-alt

                %td.column-overlays
                  %a.btn.btn-outline-dark.btn-sm.btn-block
                    City Zones

                %td.column-details-ticker.secondary
                  HINT: Tycoons can start companies and invest in different industries and real estate.


          .row.row-details
            .col-2.column-detail-logo
            .col-10.column-detail-container

          %table.table.row-footer-primary
            %tbody
              %tr.row-menu
                %td.column-menu
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'planetary'}", v-on:click.stop.prevent:'toggle_menu_planetary()', href: '#'}
                    %i.fas.fa-globe
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.show_menu_favorites}", v-on:click.stop.prevent:'toggle_menu_favorites()', href: '#'}
                    %i.fas.fa-map-pin
                  %a.btn.btn-outline-dark.btn-sm{v-on:click.stop.prevent:'hide_all_menus()', href: '#'}
                    %i.far.fa-eye
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'tycoon'}", v-on:click.stop.prevent:'toggle_menu_tycoon()', href: '#'}
                    %i.fas.fa-user-tie
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'building'}", v-on:click.stop.prevent:'toggle_menu_building()', href: '#'}
                    %i.far.fa-building
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'mail'}", v-on:click.stop.prevent:'toggle_menu_mail()', href: '#'}
                    %i.far.fa-envelope
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'chat'}", v-on:click.stop.prevent:'toggle_menu_chat()', href: '#'}
                    %i.far.fa-comments
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'options'}", v-on:click.stop.prevent:'toggle_menu_options()', href: '#'}
                    %i.fas.fa-cogs
                  %a.btn.btn-outline-dark.btn-sm{v-bind:class:"{active: ui_state.main_menu == 'help'}", v-on:click.stop.prevent:'toggle_menu_help()', href: '#'}
                    %i.far.fa-question-circle

                %td.column-tycoon{rowspan: 2}
                  %table
                    %tbody
                      %tr
                        %td.column-tycoon-name
                          Visitor
                        %td.column-tycoon-buildings
                          %span.count 0 / 0
                          %i.far.fa-building
                      %tr
                        %td.column-tycoon-corporation
                          [VISITOR VISA]
                      %tr
                        %td.column-tycoon-cashflow
                          ($0/h)
                      %tr
                        %td.column-date
                          {{current_date}}

              %tr
                %td.column-news-ticker
                  {{ui_state.event_ticker_message}}

