!!! 5
%html
  %head
    %title Sign In - STARPEACE
    %meta{charset: 'utf-8'}
    %meta{viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no'}

    %meta{name: 'google-signin-scope', content: 'profile email'}
    %meta{name: 'google-signin-client_id', content: 'YOUR_CLIENT_ID.apps.googleusercontent.com'}

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/assets/favicon.ico'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/assets/favicon.ico'}

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Open+Sans+Condensed:300'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/assets/client-main.min.css'}

    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'}

    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/solid.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/regular.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js'}

    %script{async, defer, src: 'https://apis.google.com/js/platform.js'}

    %script{async, src: 'https://www.googletagmanager.com/gtag/js?id=UA-120729341-2'}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-120729341-2');


  %body
    #common-header.clearfix
      .common-logo
        %a.logo{href: 'https://www.starpeace.io'}
          %h1 STAR
          %img{src: '/assets/logo.png'}
          %h1 PEACE

      .welcome
        %span.message Welcome, Visitor!
        %a.login-header{href: '/login.html'} Sign In

      .development
        %a.documentation{href: 'https://docs.starpeace.io'} Documentation
        %a.community{href: 'https://starpeaceproject.com/'} Community
        %a.github{href: 'https://github.com/ronappleton/starpeace-website'}
          %img{src: '/assets/github.png'}

    #login-container.container
      .card.text-white.bg-info{style: 'margin-bottom: 2rem'}
        .card-body
          Sign in logic is currently in-progress

      .card
        %h5.card-header Sign In to STARPEACE
        .card-body
          %p.card-text Please sign in with one of the following social identity providers.
          %p.card-text STARPEACE Tycoon registration is initiated automatically for new identities.

        .card-body.providers-container
          .providers
            %a.amazon-signin{href: ''}
            .g-signin2{data-width: '312', data-height: '64', data-longtitle: 'true', data-theme: 'dark'}

        .card-footer.text-center
          %a{href: 'https://www.starpeace.io/privacy.html'} STARPEACE Privacy

