!!! 5
%html
  %head
    %title Demo - STARPEACE
    %meta{charset: 'utf-8'}
    %meta{viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no'}

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/assets/client/favicon.ico'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/assets/client/favicon.ico'}

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Open+Sans+Condensed:300'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/assets/client-main.min.css'}

    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/fpsmeter/0.3.1/fpsmeter.min.js'}

    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/solid.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/regular.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js'}

    %script{type: 'text/javascript', src: '/assets/client-main.min.js'}

  %body
    #common-header.clearfix
      .common-logo
        %a.logo{href: '/'}
          %h1 STAR
          %img{src: '/assets/client/logo.png'}
          %h1 PEACE

      .welcome
        %span.message Welcome, Visitor!
        %a.login-header{href: '/login.html'} Sign In

      .development
        %a.documentation{href: '/docs'} Documentation
        %a.community{href: 'https://starpeace.ovh/'} Development Community
        %a.github{href: 'https://github.com/ronappleton/starpeace-website'}
          %img{src: '/assets/client/github.png'}

    #render-container

    #footer-container
